<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>It's main!</title>
</head>
<body>

    <div>
        <form action="/logout" method="post">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
            <input type="submit" value="Sign Out"/>
        </form>
    </div>

    <div>
        <form method="post" action="/add" >
            <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
            <input type="text" name="text" placeholder="Put message here">
            <input type="text" name="tag" placeholder="Tag">
            <button type="submit">Add</button>
        </form>
    </div>

    <div>List of messages</div>

    <form method="post" action="/filter">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        <input type="text" name="filter">
        <button type="submit">Find</button>
    </form>
    {{#messages}}
    <div>
        <b>{{id}}</b>
        <span>{{text}}</span>
        <i>{{tag}}</i>
        <strong>{{userName}}</strong>
    </div>
    {{/messages}}


</body>
</html>