
html{
    height: 100%;
}
body {
    padding-top: 54px;
    height: 100%;
}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}

footer{
    margin: 0;
}

/*custom styles*/
.wrapper{
    min-height: 100%;
    position: relative;
}

.content{
    padding-bottom: 60px; /*height of footer*/
}

/*.footer{*/
    /*position: absolute;*/
    /*bottom: 0;*/
    /*height: 60px;*/
/*}*/